@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #mobile-nav{
        display: flex;
    }
}

/* @media screen and (max-midth: 600px){
    .btn-container{
        flex-wrap: wrap;
    }
} */