@media screen and (max-width: 1700px){
    #about .section-container{
        display: grid;
    }
    #about .section-text{
        width: 90%;
        justify-self: center;
    }
    #about .pic-container{
        justify-self: center;
    }
    .section-h1{
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
    }
    #projects{
        width: 100vw;
        margin: 0;
    }
}
@media screen and (max-width: 1300px){
    #desktop-nav{
        display: none;
    }
    #mobile-nav{
        display: flex;
    }
    .section-text, .section-text, .pic-container, .details-container, .section-container, #hero, #education .section-container, #about .section-container{
        display: grid;
        /* flex: none; */
    }
    #hero{
        min-height: 1200px;
        gap: 4rem;
    }
    #projects .text-container, .snippet{
        max-width: 90vw;
        width: 90vw;
    }
    .details-container{
        width: 450px;
        height: 500px;
    }
    #projects .pic-container, #education .pic-container, #about .pic-container, #phase-drift-body img, .snippet, .section-text{
        justify-self: center;
    }
    #projects {
        height: 4000px;
    }
    .section-text, #about .section-text, #phase-drift-body img, #beastro-body img{
        width: 90%;
    }
    #body, #phase-drift-body .section-container, #beastro-body .section-container{
        width: 100vw;
        margin: 0;
    }
    #phase-drift-body iframe{
        width: 90vw;
    }
}
@media screen and (max-width:650px){
    #hero, #education, #about, #contact{
        margin: 0;
        padding: 0.2rem;
    }
    #hero{
        gap: 0.2rem;
        min-height: 600px;
        height: 800px;
        justify-content: center;
        align-items: center;
    }
    #hero .pic-container{
        width: 90vw;
        height: 90vw;
    }
    #projects {
        height: 4200px;
    }
    #education{
        height: 1200px;
    }
    #about{
        height: 1900px;
    }
}
