html,body{
    overflow-x: hidden;
}
html{
    height: 100%;
}
.main-header{
    padding: 10px 20px;
    background-color: #371e30 !important;
    color: white;
}
.main-education{
    padding: 20px 20px;
    background-color: #371e30 !important;
    color: white;
}
.main-body{
    margin: 30px 10px;
}
body{
    background-color: white;
    color: #371e30;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
h2{
    padding: 2px;
}
h3{
    padding-top: 10px;
}
.project-image{
    float: left;
    width: 30%;
    border-radius: 5px;
    margin-right: 15px;
}
.project-image-right{
    float: right;
    margin-left: 15px;
}

.project-row{
    padding-bottom: 20px;
}
.writeup-image{
    width: 60%;
    margin-left: 15px;
}
.home-button{
    float: right; 
    margin-top: 20px;
}
.contact-footer{
    padding: 20px 0px 20px 20px;
    background-color: #371e30;
    color: white;
    overflow: hidden;
}
.article-image{
    background-color: #371e30;
    width: 45%;
    border: 5px solid #371e30;
    border-radius: 8px;
}
.image-m{
    width: 65%;
}
.image-l{
    width:  90%;
    padding-left: 5%;
    margin-bottom: 10px;
}
.table{
    width: 90%;
    height: auto;
}
.table-title{
    text-align: center;
    padding-top: 10px;
}
.snippet{
    color: #1e1e1e;
    background-color: #ede6eb;
    /* background-color: #e6d5e1; */
    /* background-color: #1e1e1e; */
    padding: 5px 1px 0px 5px;
    border: 5px solid #371e30;
    border-radius: 8px;
}
.comment{
    /* color: #371e30; */
    /* color: #590c43; */
    color: #894a77;
}

@media only screen and (max-width: 900px) {
    .project-image, .project-image-right {
        float: none;
        width: 90%;
        margin-left: 15px;
    }
    .writeup-image{
        width: 90%;
    }
    .article-image{
        width: 90%;
    }
    .snippet{
        width: 90vw;
    }
    .table{
        font-size: 0.8em;
    }
}