/* colors 
    dark bg     Dark Purple:    #371e30 
    dark text   Apricot:        #fed0bb

*/
html,body{
    overflow-x: hidden;
}
html{
    height: 100%
}
.main-header{
    padding: 10px 20px;
    background-color: #371e30 !important;
    color: white;
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); /* angled background */
}
.main-education{
    padding: 20px 20px;
    background-color: #371e30 !important;
    color: white;
    /* clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%); /* angled background */
}
.main-body{
    margin: 30px 10px;
}
body{
    background-color: white;
    color: #371e30;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
h2{
    padding: 2px;
}
h3{
    padding-top: 10px;
}
.project-image{
    float: left;
    width: 30%;
    border-radius: 5px;
    margin-right: 15px;
}
.project-image-right{
    float: right;
    margin-left: 15px;
}
@media only screen and (max-width: 900px) {
    .project-image, .project-image-right {
        float: none;
        width: 90%;
        margin-left: 15px;
    }
    .writeup-image{
        width: 90%;
    }
    .article-image{
        width: 90% !important;
    }
}
.project-row{
    padding-bottom: 20px;
}
.writeup-image{
    width: 60%;
    margin-left: 15px;
}
.home-button{
    float: right; 
    margin-top: 20px;
}
.contact-footer{
    padding: 20px 0px 20px 20px;
    margin-bottom: 0px;
    border-bottom: 0px;
    bottom: 0;
    /* height: 100%; */
    background-color: #371e30;
    color: white;
    overflow: hidden;
}
.article-image{
    background-color: #371e30;
    width: 45%;
    border: 5px solid #371e30;
    border-radius: 8px;
}
.image-l{
    width:  90%;
}
.table{
    width: 100%;
}
.table-title{
    text-align: center;
    padding-top: 10px;
}
.snippet{
    color: white;
    /* color: #9cdcfe; */
    background-color: #1e1e1e;
    padding: 5px 1px 1px 5px;
    border: 5px solid #371e30;
    border-radius: 8px;
}
.comment{
    color: #894a77;
    /* color: #92ac3c; */
}