@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital@0;1&display=swap');

:root{
    --black: #343434;
    --white: #fff9f9;
    --grey: #949191;
    --blue-hyper: #d0f5f7;
}

html{
    height: 100%;
}

*{
    margin:0;
    padding:0;
    border: 0;
    background-color: var(--white);
    color: var(--black);
}

body{
    font-family: 'Montserrat', sans-serif;
    min-width: 100vw;
    /* position: fixed; */
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

a, .btn{
    transition: all 300ms ease;
}

/* #region Nav Desktop */
nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

.name{
    font-family: 'Archivo Black', sans-serif;
    font-size: 2rem;
}

.name:hover{
    cursor: default;
}

.nav-links{
    font-size: 1.5rem;
    gap: 2rem;
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: var(--blue-hyper);
}

a:hover{
    color: var(--grey);
    text-decoration: underline;
    text-decoration-color: var(--blue-hyper);
}
/* #endregion */
/* #region Nav Mobile */
#mobile-nav{
    display: none;
    width: 100vw;
    border: 0;
    padding: 0;
    margin: 0;
}

.mobile-menu{
    position: relative;
    display: inline-block;
}

.mobile-links{
    position: absolute;
    top: 100%;
    right: 0;
    overflow: hidden;
    width: fit-content;
    max-height: 0;
    background-color: var(--white);
    transition: all 300ms ease-in-out;
}

.mobile-links a{
    display: block;
    padding: 10px 0;
    text-align: right;
    font-size: 1.5rem;
    color: var(--black);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.mobile-links li{
    list-style: none;
}

.mobile-links.open{
    max-height: 300px;
}

/* Hemburger Icon */
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: var(--black);
    transition: all 200ms ease-in-out;
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
    opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}
/* #endregion */
/* #region Sections */
section{
    padding: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}
/* Hero */
#hero{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

#hero .pic-container{
    display: flex;
    height: 700px;
    width: 700px;
    margin: auto 0;
}

.hero-text{
    align-self: center;
    text-align: center;
}

.hero-text p{
    font-weight: 600;
}

.section-p1{
    text-align: center;
}

.section-p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.section-h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 3rem;
    text-align: center;
}

#social-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon{
    cursor: pointer;
    height: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2{
    border: var(--grey) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover{
    cursor: pointer;
}

.btn-color-1, .btn-color-2:hover{
    background-color: var(--grey);
    color: var(--white);
}

.btn-color-1:hover{
    background: var(--black);
}

.btn-color-2{
    background: none;
}

.btn-color-2:hover{
    border: var(--white) 0.1rem solid;
}

.btn-container{
    gap: 1rem;
}

/* About */

/* #endregion */

